<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twx.module_videoediting">

    <application>
        <activity android:name=".ui.activity.ReverseActivity"></activity>
        <activity android:name=".ui.activity.ExportActivity" />
        <activity
            android:name=".ui.activity.VideoCutActivity"
            android:theme="@style/EditerActivityTheme" />
        <activity
            android:name=".ui.activity.MainViewActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>