<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twx.module_videoediting">

    <application>
        <activity android:name=".ui.activity.CropActivity" android:launchMode="singleTop" android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.activity.TagsActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SpeedActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ReadyJoinActivity"  android:theme="@style/EditerActivityTheme"  android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.DivisionActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.SelectMediaActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MusicActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ReverseActivity" android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ExportActivity"
            android:launchMode="singleTop" android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.activity.CutActivity"
            android:theme="@style/EditerActivityTheme"  android:launchMode="singleTop" android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MainViewActivity"
            android:launchMode="singleTask" android:screenOrientation="portrait"/>
    </application>

</manifest>