<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twx.module_base">


    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />

    <application

        >
        <activity android:name="com.twx.module_base.activity.AboutActivity"></activity>
        <activity
            android:name="com.twx.module_base.activity.DealViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />


        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="APP_NAME"
            android:value="${app_name_channel}" />


        <!--友盟-->
        <!--正式：601a1119aa055917f8816f3a-->
        <meta-data android:value="01a1119aa055917f8816f3a" android:name="UMENG_APPKEY"/>
        <meta-data android:value="${CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            tools:replace="android:authorities"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>